@model IEnumerable<User>
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr class="info lead">
            <td>Customer</td>
            <td>Edit</td>
            <td>Delete</td>
            <td>Admin</td>
            <td>Manager</td>
            <td>Moderator</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    <a href="customeredit/@item.Id"><img src="~/fonts/glyphicons_030_pencil.png" /></a>
                </td>
                <td>
                    <a href="customerdelete/@item.Id"><img src="~/fonts/glyphicons_016_bin.png" /></a>
                </td>
                <td>
                    Admin checkbox
                </td>
                <td>
                    Manager checkbox
                </td>
                <td>
                    Moderator checkbox
                </td>
            </tr>
        }
    </tbody>
</table>
