@model Product

<div class="form-group">
    <label class="control-label col-md-2" for="@Html.IdFor(x => x.Category)">Category<span class="required">*</span></label>
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.Category.Name, ViewData["categories"] as List<SelectListItem>, "Choose...", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Category.Name, "Category is required.")
        </div>
    </div>