@model Product

<div class="form-group">
    <label class="control-label col-md-2" for="@Html.IdFor(x => x.Manufacturers)">Manufacturers<span class="required">*</span></label>
    <div class="col-md-10">
        @Html.DropDownListFor(x => x.Manufacturers.Name, ViewData["manufacturers"] as List<SelectListItem>, "Choose...", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Manufacturers.Name, "Manufacturer is required.")
    </div>
</div>
